#pdfjs_viewer-full {
  .openFile { display: none; }

  .bookmark { display: none; }
  .backButton {
    margin: 6px 15px;
    color: #fff;
  }
  a:hover, a:visited, a:link, a:active {
    text-decoration: none !important;
  }

}
